.NotesViewContainer{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}

.HeaderContainer{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 100;
    background: rgba(255, 218, 166, 0.616);
    
}

.NotesContainer_Super{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    min-height: 100vh;
    
}

.NotesContainer{
    /* border: 2px solid red;   */
    width: 80%;
    min-height: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 45px;
    /* padding-top: 2%;
    padding-bottom: 2%; */
    background: none;

    
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles for iPhone XR, 11 */
    .HeaderContainer{
        /* border: 2px solid red; */
        justify-content: center;
        height: 70px;
        background: none;
        margin-top: 1%;
        margin-bottom: 10%;
        padding-top: 0%;
        padding-bottom: 0%;
        align-items: center;


    }

}